<nav class="navbar navbar-expand-sm navbar-dark bg-dark"">
    
    <a href="/" class="navbar-brand">
        Blog X
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories"> Categories </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles"> Articles </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="/admin/logout" class="nav-link"> Logout </a>
        </li>
    </ul>
</nav>
